
*{
    margin: 0;
    box-sizing: border-box;
}
header {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: aquamarine;
    border: black 5px solid;
    border-radius: 20px;

}
.header-name {
   
   
}
#header-image {
    border: black 3px dotted;
    
}
main{
    background-color: pink;
}


.card{
flex: 1 0 200px;
padding: 10px;
text-align: center;
border-style:solid;
border-width: 1px;
}

body {

}

About Me {

}

Work {

}

Contact Me {

}

@media all and  (max-width:500px) {
    body { 
        color: pink
    }
}
