
*{
    margin: 0;
    box-sizing: border-box;
}
header {
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: tan;
    border: black 5px solid;
    border-radius: 20px;

}
/* .header-name {
   
   
} */
#header-image {
    border: black 5px solid;
    
}
main{
    background-color: white;
    
}


#about-me {
    background-color: gray;
    border-bottom: black 5px solid;
    margin-top: 15px;
}


#work {
    background-color: rgb(177, 124, 26);
    border-bottom: black 5px solid;
    margin-top: 15px;
}

#contact-me {
    background-color: gray;
    border-bottom: black 5px solid;
    margin-top: 15px;
}

@media all and  (max-width:500px) {
    body { 
        color: pink
    }
}
